@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Regular.ttf") format("truetype"),
			url("fonts/Roboto-Italic.ttf") format("truetype"),
			url("fonts/Roboto-Bold.ttf") format("truetype");
}

body, html{
	scroll-behavior: smooth;
	margin: 0;
    padding: 0;
    font: 400 15px/1.8 "Regular", Roboto;
    height: 100%;
    background: #042d51;
}
.banner {
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#BI{
	background-image: linear-gradient(rgba(60,53,53,0.75), rgba(0,0,0,0.5)),url(idx/island.jpg);
}
#BI2{
	background-image: linear-gradient(rgba(60,53,53,0.75), rgba(0,0,0,0.5)),url(idx/island2.jpg);
}
#BI2 h2{
	margin: 0;
	padding: 25px 80px 5px;
	color: #fff;
}
#BB{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(bds/barbados2.jpg);
}
#BB2{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(bds/beach.jpg);
}
#BF{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(fji/fiji2.jpg);
}
#BF2{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(fji/shore.jpg);
}
#BJ{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(jpn/japan2.jpg);
}
#BJ2{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(jpn/shrine.jpg);
}
#BM{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(mlt/malta2.jpg);
}
#BM2{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)),url(mlt/lagoon.jpg);
}
.sidebar{
	position: fixed;
	z-index: 1;
	top: 0;
	left: -322px;
	height: 100%;
	width: 330px;
	transition: left 0.3s;
	overflow-x: hidden;
}
#SBI{
	background-color: #333;
	color: white;
}
#SBB{
	background-color: #6E3222;
	color: white;
}
#SBF{
	background-color: #002868;
	color: white;
}
#SBJ{
	background-color: #fcc9b9;
	color: white;
}
#SBM{
	background-color: #cccccc;
	color: white;
}
.sidebar hr{
	width: 80%;
}
#SBB hr{
	color: white;
}
#SBJ hr{
	color: white;
}
#SBM hr{
	color: white;
}
.sidebar h1{
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
    position: relative;
}
.sidebar h1::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
#SBI h1::after{
	background: #009688;
}
#SBB h1::after{
	background: #FFC726;
}
#SBF h1::after{
	background: #68BFE5;
}
#SBJ h1::after{
	background: #f0bbb8;
}
#SBM h1::after{
	background: #cf142b;
}
.sidebar h1:hover::after{
    width: 100%;
}
.sidebar h1 a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.sidebar p{
	display: inline-block;
	text-align: center-left;
	text-align: justify;
}
.headnav{
	color: white;
    width: 100%;
    height: 20px;
    margin: auto;
    padding: 20px 20px;
    position: fixed;
    z-index: 2;
    font-weight: 800;
}
.headnav h1{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.headnav h1::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
#HNI h1::after{
    background: #009688;
}
#HNB h1::after{
	background: #FFC726;
}
#HNF h1::after{
    background: #68BFE5;
}
#HNJ h1::after{
    background: #f0bbb8;
}
#HNM h1::after{
    background: #cf142b;
}
.headnav h1:hover::after{
    width: 100%;
}
.headnav h1 a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.heading {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.heading h2{
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 10px
}
.heading p{
    margin: 15px auto;
    font-weight: 350;
    font-size: 17px;
    line-height: 25px;
}
.button1{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button1 span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
.button1:hover span{
    width: 100%;
}
.button1:hover{
    border: none;
}
.explanation{
	font-size: 25px;
	margin: 0;
	padding: 50px 80px;
	color: #fff;
	text-align:center;
	text-align: justify;
}
#EI{	
	background-color: #009688;
}
#EB{
	background-color: #FFC726;
}
#EB2{
	background-color: #1A5061;
}
#EF{
	background-color: #68BFE5;
}
#EF2{
	background-color: #FFD100;
}
#EJ{
	background-color: #f0bbb8;
}
#EJ2{
	background-color: #d8697b;
}
#EM{
	background-color: #cf142b;
}
#EM2{
	background-color: #96877d;
}
.explanation h3{
	text-align:center;
}
.grid {
	display : grid;
	padding: 2% 20px ;
}
.grid2x2{
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}
.grid1x3 {
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
}
.item {
	border-radius: 12px;
	display: inline-block;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
	margin: 5px;
    position: relative;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}
.itemI{
	border: 2px solid #009688;
    background: #042d51;
}
.itemB{	
	border: 2px solid #d8f0e3;
    background: #317e87;
}
.itemF{	
	border: 2px solid #ce1126;
    background: #00A651;
}
.itemJ{	
	border: 2px solid #e59b95;
    background: #ed8945;
}
.itemM{	
	border: 2px solid #ffffff;
    background: #7c878e;
}
.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 25px;
}
.item img {
	border-radius: 8px;	
	height: 280px;
	opacity: 0.8;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.item img:hover, .item:hover img:hover{
	height: 290px;
	opacity: 1;
}
.LargeImg{
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.LargeImg:hover{
	cursor: pointer;
	z-index: 10;
	display: block;
	transform: scale(1.1);
}
.itemB .LargeImg:hover{
	border: 2px solid #d8f0e3;
}
.itemF .LargeImg:hover{
	border: 2px solid #ce1126;
}
.itemJ .LargeImg:hover{
	border: 2px solid #e59b95;
}
.itemM .LargeImg:hover{
	border: 2px solid #ffffff;
}
.item h3, .item p{
	color: #fff;
	font-weight: 500;
	margin: 0;
	padding: 5px;
}
.item h3{
	font-weight: 600;
	font-size: 18px;
}
.item p{
	margin-bottom: 0;
}
